#writingArea {
  resize: none;
  min-height: 80vh;
  min-width: 100%;
  border: none;
  outline: none;
}
#writingArea::-webkit-scrollbar {
  display: none;
}
#title {
  outline: none;
  border: none;
}

button{
    border: none;
}
